.Rproj.user
.Rhistory
*.RData
*.Rdata
.Ruserdata
.DS_Store
*.log
*.rda
*.Rda
*.RDS
!inst/extdata/**/*.rds
!inst/extdata/**/*.RDS
*.png
!docs/*.png
!docs/**/*.png
*.mtx
*.tsv
*.xlsx
*.npy
*.csv
!inst/extdata/**/*.csv
*.gmt
*.tif
*.h5

analysis/

#renv
#Change
renv/library

inst/doc
**/.quarto/
