.Rproj.user
.Rhistory
*.RData
.Ruserdata
.DS_Store
*.log
*.rda
*.Rda
*.RDS
*.png
*.mtx
*.npy
*.csv
*.gmt
analysis/data/*
!analysis/data/.gitkeep

#renv
renv/library

analysis/gaston/code/venv/*
analysis/gaston/code/colorectal_tumor_tutorial_outputs/*
